.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main h1 {
  color: #eaeaea;
}

.main img {
  width: 100%;
}

.containerCodeImage {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.codeImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20x;
  color: white;
}

.containerWrapperImage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 420px;
  max-height: 400px;
}

.containerImageBullet {
  display: flex;
  gap: 18px;
}

.main input[type="text"] {
  width: 350px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #fffcfc;
}

.main button {
  background-color: #ff1616;
  width: 90px;
  color: white;
  height: 50px;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.containerTryedAnimes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:-60px;
}

.tryedAnime {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  border: 3px solid white;
  max-width: 450px;
  margin: 3px;
  width: 40vw;
  min-width: 260px;
  height: 50px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
